# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portifolio?schema=public"

# App
PORT=3001
NODE_ENV=development

# Auth
JWT_SECRET="super_secret_key_change_me"
ADMIN_PASSWORD="hashed_argon2_password_here"
